@import '../utilities/functions';

.image-container{
   position: relative;
 width: 100vw;
 max-width: 100vw;
 overflow: hidden;
 height: 60vh;
 .stars{
   // position: static;
   max-width: 100%;
   z-index: -6;
 }
 img{
   top: 0;
    position: absolute;
   height: 100%;
    width: 100vw;
    object-fit: cover;

 }
}
.mountain-back{
   z-index: -3;
}
.moon{
   mix-blend-mode: screen;
   z-index: -4;
}

h1{
   //  position: absolute;
   //  top: 50%;
   //  left: 50%;
   //  right: -350px;
   //  transform: translate(-50%,-50%);
   //  color: $white;
   //  z-index: -1;
   //  white-space: nowrap;
   //  max-width: fit-content;
    display: none;
}

section{
   overflow: hidden;
   position: relative;
}
.image-container::before{
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100vw;
   height: 100px;
   background: linear-gradient(to top, black,transparent);
   z-index: 10;
}
@include breakpoint-up($tablet-sz){
   h1{
       font-size: 3rem;
   }
   // .image-container{
   //    height: 100vh;
   //    // img{
   //    //    height: 100vh;
   //    // }
   // }

   }

   @include breakpoint-up($desktop-sz){
   h1{
       font-size: 5rem;
   }
   .image-container{
      height: 100vh;
      // img{
      //    height: 100vh;
      // }
   }
   }