.hidden{
    display: none !important;
}
.visible{
  display: flex !important;
}
.translate-left{
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}
.translate-right{
    transform: translateX(0%);
    transition: transform 0.3s ease;
}
.body-max-height{
max-height: 100vh;
overflow: hidden;
}
.hr-active{
    transform: translateX(0) !important;
    transition: transform 1s ease;
}


h2 {
    transform: translateY(115px);
    transition: transform 0.5s ease;
  }
.h2-active {
    transform: translateY(0);
    transition: transform 0.5s ease;
  }
h2 {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  
  .p-active{
    transform: translateY(0) !important;
    transition: transform 0.3s ease;
}
