// @import './functions';
$white: #fff;
$dark-blue: rgb(11, 11, 41);
// sz : screen size
$small-sz: 599px;
$tablet-sz: 600px;
$desktop-sz: 1000px;
$purple: rgb(180, 26, 180);
$dark-purple: rgb(58, 19, 58);
$blue: rgb(60, 60, 238);
$darkblue: rgb(15, 15, 63);
$dark: black;
$purple-nav: rgb(56, 9, 56);
$blue-nav: rgb(3, 3, 32);
// $dark-nav: rgb(30, 29, 29);